html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@600&family=Kanit:ital,wght@1,700&family=Lato&family=Roboto:wght@300;400&display=swap');

/* Color Palette
#BA0621 , #0B0101, #CC1D36, #6C0918  */

/* Text Style Catalog

HEADER: Kanit, Bold Italic, 116.2px
Line heigh: 7px, letter spacing: 1px

Headings: (News articles, this week,  New Models, Drive in the 
Kanit, Bold Italiic: 42px
Line height: 43px

Text Styles
Lato, Regular: 31px
Line height: 31.6px, Letter spacing: 0.3px*/

/* Button

Kanit Bold Italic: 20px
Center, Line height: 29px*/

/* Body Text

Roboto, Light: 20px
Line height: 29px*/

/*  Header Navigation

Catamaran, Semibold: 18px
Right, line height: 29px*/

/* Footer

Roboto, Regular: 18px
Center, Line height: 29px*/

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto';
    font-weight: 'light';
    font-size: 20px;
    line-height: 29px;
    height: 100%;
}
img{
    width: 100%;
    max-width: 100%;
    display: block;
}
.wrapper{
    height: 1000px;
    width:80%;
    max-width: 1280px;
    background-position: center;
    margin: 0 auto;
}

.headerNav{
    font-family: 'Catamaran';
    font-weight: 'Semibold';
    font-size: 18px;
    color: white;
}

ul{
    float: right;
    list-style: none;
}
li{
    float: left;
    margin-right: 15px;
}
a{
    text-decoration: none;
    color: white;
}

Button{
    font-family: 'kanit';
    font-weight: 'bold italic';
    font-size: 20px;
    line-height: 29px;
    background-color: #BA0621;
}


/* HEADER */

header{
    background-image: url(./image-1@2x.png);
    background-size: contain;
    background-repeat: no-repeat;
    
}
.logo, .clearfix a{
    font-family: 'Catamaran';
    font-weight: 'semibold';
    font-size: 18px;
    line-height: 29px;
}
h1{
    font-family: 'Kanit';
    font-weight: 'bold italic';
    font-size: 116.2px;
    line-height: 7px;
    letter-spacing: 1px;
    color: #CC1D36;
    padding-top: 170px;
}
h1 span{
    display: block;
    padding-top: 90px;
}

/* Gallery 1  */
.gallery1 h2{
    text-align: center;
    padding-bottom: 60px;
}

/* Article */
.carGallery img{
    width: 32%;
    float: left;
    margin-right: 15px;
}
.carGallery2{
    float: left;
    padding: 108px 0;
    width: 80%;
}
.carGallery2 img{
    width: 40%;
}
.carGallerycontent{
    float: right;
    width: 60%;
    display: inline-block;
    
}
.carGallerycontent h2{
    text-align: left;
    
}
