html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@600&family=Kanit:ital,wght@1,700&family=Lato&family=Roboto:wght@300;400&display=swap');

/* Color Palette
#BA0621 , #0B0101, #CC1D36, #6C0918  */

*{
    margin: 0;
    padding: 0;
    border: #CC1D36 solid 1px;
    
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'kanit';
    height: 100%;
}
.wrapper{
    width: 80%;
    margin: 0 auto;
}

h2{
    font-family: 'kanit''serif';
    font-style: italic;
    font-weight: bold;
    font-size: 42px;
    line-height: 43px;

}
p{
    font-family: 'roboto';
    font-weight: lighter;
    font-size: 20px;
    line-height: 29px;
    padding: 20px 0;
}

button{
    background-color:#CC1D36;
    font-family: 'kanit''serif';
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    padding: 15px 20px;
    color: white;

    border: none;

}

/* HEADER DESIGN */

header{
    background-image: url(./Assets/image-1@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 100vh;
    padding: 30px 0;
    
}
.headerNav{
    font-family: 'Catamaran''serif';
    font-size: 18px;
    line-height: 29px;
   
    display: flex;
    flex-direction:column;
    align-content: space-between;
    
}

.navBar{
    display: flex;
    justify-content: space-between;
}
.navBar ul{
    display:flex;
    justify-content: right;
    list-style: none;
}
li{
    margin-left: 40px;
    list-style: none;

}
header p{
    padding: 0;
}
.headerContent{
   display: flex;
   flex-direction: column;
}
h1{
    font-family: 'Kanit';
    font-weight: 'bold italic';
    font-size: 116px;
    line-height: 7px;
    letter-spacing: 1px;
    color: #CC1D36;
    padding: 200px 0 10px 0;
}

h1 span{
    display: block;
    padding-top: 90px;
}


/* li{
    margin-right: 25px;
  
} */
a{
    text-decoration: none;
    color: white;
    text-align: right;
}
/* img{
    width: 32%;
} */
.thisweek{
    margin-top: 100px;
}

.article h2{
    text-align: center;
    padding: 80px 0;
    font-size: 42px;
}
/* .gallery{
    width: 100%;
    align-items: center;
} */
.gallery img{
    width: 30%; 
    max-width: 100%;

}

.gallery{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.thisweek{
    display: flex;
    
}

.thisweek img{
    width: 40%;
    justify-content: center;
}
.highlightContent{
    width: 70%;
    margin-left: 50px;
    margin-top: 20px;

}
.newmodels{
    display: flex;
    width: 100%;
    padding: 80px 0 0 0;
}

.newmodels img{
    width: 50%;
}
.driveStyle{
    display: flex;
    width: 100%;
}
.carContent{
   
  align-content: center;
}

.drivestyleContent{
    width: 48%;
    padding: 60px 100px 00px 60px;
}
.newmodelsContent{
    width: 50%;
    padding: 60px 60px 0px 100px;
}

.driveStyle img{
    width: 50%;
}
/* .features{
    background-image: url(./oscar-aguilar-327500-unsplash@2x.png);

} */
.services{
    background-image: url(./Assets/oscar-aguilar-327500-unsplash@2x.png);
    background-size: contain;
    font-size: 30px;
}
.iconContainer{
    width: 100%;
    height: 100%;
    color: #CC1D36;
    padding: 40px;
    display: flex;
    justify-content: space-around;
}
.iconCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    
}


.iconCard h3{
    color: whitesmoke;
    padding: 10px 0;
    font-size: 30px;
}

.contact{
    background-color: #CC1D36;
}
.formContainer{
    width: 100%;
    height: 100%;
    padding: 50px 0;

    display: flex;
    justify-content: space-between;
    gap:40px;
}

input, .button{
    padding: 20px;
    width: 60%;
}
.button{
    border: none;
    background-color: #000;
    height: 100%;
    margin: 0;
}
.contactInfo{
    display: flex;
    flex-direction: column;
}

.contactbox{
    padding-top: 20px;
}
.fotterNav{
    display: flex;
    justify-content: space-between;
}
.fotterNav ul{

    text-align: right;
    
}


.fotterNav li{
    margin-bottom: 10px;
  
}
footer{
    color:white;
}


@media (max-width: 940px){
    .thisweek{
        flex-direction: column;
    }
    .thisweek img{
        width: 100%;
    
    }

    .highlightContent{
        width: 100%;
        margin-left: 0px;
    
    }
    .newmodels{
        flex-direction: column-reverse;
    }
    .newmodelsContent{
        width: 100%;
        padding: 30px 0;
    }
    .newmodels img {
        width: 100%;
 
    }
    .driveStyle{
        flex-direction: column;
    }
    .drivestyleContent{
        width: 100%;
        padding: 30px 0;
    }
    .driveStyle img{
        width: 100%;
   
    }

    h2{
        font-size: 30px;
    }
    h3{
        font-size: 20px;
    }
    p{
        font-size: 18px;
    }

    input{
        margin: 30px 0;
    }

   
}
@media (max-width: 768px){

    .navBar ul{
        display: none;
    }

    .iconContainer{
        flex-direction: column;
    }

    .formContainer{
        flex-direction: column;
        text-align: center;
    }

    .contactInfo{
        text-align: left;
    }

    h2{
        font-size: 30px;
    }
    .iconCard h3{
        font-size: 25px;
    }
    p{
        font-size: 18px;
    }

    .carContent{
        text-align: center;
    }
}
@media (max-width: 480px){
  
    h1{
        font-size: 80px;
    }

    .navBar h2{
        font-size: 25px;
    }


}

